@use "../abstracts/" as *;

.body {
  &--primary {
    color: $color-accent-dark-medium;
    font-size: $font-size-sm;
  }

  &--secondary {
    color: $color-accent-dark-medium;
    font-size: $font-size-md;
  }

  &--tertiary {
    color: $color-primary;
    font-weight: $font-weight-bold;
    font-size: $font-size-xl;
  }

  &--quaternary {
    color: $color-accent-dark;
    font-weight: $font-weight-semi-bold;
    font-size: $font-size-md;
  }

  &--quinary {
    color: $color-accent-medium-dark;
    font-weight: $font-weight-semi-bold;
    font-size: $font-size-xs;
  }

  &--centered-container {
    text-align: center;
  }
}
