@use "../abstracts/" as *;

.button {
  border-radius: 0.75rem;
  border: 0.0625rem solid $color-primary;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.375rem;
  flex: 1;
  background-color: $color-primary;
  color: $color-accent-light;
}
