@use "../abstracts/" as *;

.container {
  padding: $layout-top-padding $layout-x-padding $layout-bottom-padding;
  min-height: calc(100vh - $layout-top-padding - $layout-bottom-padding);
  display: grid;
  grid-template-rows: $layout-navbar-height 1fr;
}
