@use "../abstracts/" as *;

.title {
  &--primary {
    color: $color-accent-dark-purple;
    font-weight: $font-weight-bold;
    font-size: $font-size-xl;
  }

  &--secondary {
    color: $color-accent-dark;
    font-weight: $font-weight-bold;
    font-size: $font-size-xl;
  }

  &--tertiary {
    color: $color-accent-dark;
    font-weight: $font-weight-bold;
    font-size: $font-size-lg;
  }

  &--quaternary {
    color: $color-accent-dark;
    font-weight: $font-weight-bold;
    font-size: $font-size-md;
  }

  &--quinary {
    color: $color-accent-dark;
    font-weight: $font-weight-semi-bold;
    font-size: $font-size-md;
  }

  &--centered-container {
    text-align: center;
  }
}
