@use "../abstracts/" as *;

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  &__spinner {
    border: 0.25rem solid rgba(0, 0, 0, 0.1);
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    border-left-color: $color-primary;

    animation: spin 0.75s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
