.product-list {
  &__header {
    margin-top: 1.5rem;
    & > * {
      margin-bottom: 0.9375rem;
      &:first-child {
        margin-bottom: 0.3125rem;
      }
    }
  }

  &__grid {
    margin-top: 1.0625rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.8125rem;
  }
}
