:root {
  --color-background: #fafafa;
  --color-primary: #ff9f24;
  --color-accent-light: #ffffff;
  --color-accent-medium: #969696;
  --color-accent-medium-dark: #808080;
  --color-accent-dark-medium: #646464;
  --color-accent-dark: #323232;
  --color-accent-dark-purple: #0f0d23;
}
